<div class="nav">
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}

        {{#if @labs.subscribers}}
            <li class="nav-subscribe">
                <a class="subscribe-button" href="{{@blog.url}}/subscribe/">subscribe</a>
            </li>
        {{else}}
            <li class="nav-subscribe">
                <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">subscribe</a>
            </li>
        {{/if}}
    </ul>
</div>
