<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.css"}}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Bitter:400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    <div class="site-wrapper">

        <header class="main-header">
            <a href="/" class="blog-name-link">
                <div class="blog-name-box">
                    {{@blog.title}}
                </div>
            </a> 

            {{#if @blog.navigation}}
                {{!-- The blog navigation links --}}
                {{navigation}}
            {{/if}}
        </header>

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright">&copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}</section>
            <section class="poweredby">
                <a href="https://github.com/Wowu/wireframe-ghost-theme">Wireframe Theme</a> by <a href="https://musur.pl/">Karol Musur</a>
            </section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Bookmark --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
