{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<header class="main-header">
    <a href="/" class="blog-name-link">
        <div class="blog-name-box">
            {{@blog.title}}
        </div>
    </a> 

    {{#if @blog.navigation}}
        {{!-- The blog navigation links --}}
        {{navigation}}
    {{/if}}
</header>

{{#tag}}
    <h1 class="tag-name">#{{name}}</h1>
    {{#if description}}
        <p class="tag-description">{{description}}</p>
    {{else}}
        <p class="tag-description">A {{../pagination.total}}-post collection </p>
    {{/if}}
{{/tag}}


{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
